<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<style>
.images-left img {
  margin-top: 100px; /* Adjust the value as needed */
}
</style>
<style>
.images-right img {
  margin-top: 70px; /* Adjust the value as needed */
}
</style>


<div class="user-projects">
  <div class="images-left">
    <img alt="wrting" src="{{ "assets/img/AmexCreditCards.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> American Express Credit Default Prediction </h3>
    <p><strong>Objective:</strong> Develop a machine learning model to predict credit defaults accurately.<br>
<strong>Role:</strong> Machine Learning Engineer<br>
<strong>Approach:</strong> Utilized XGBoost and applied feature engineering and hyperparameter tuning to enhance model performance. Key variables like delinquency, spend, and balance were engineered to reduce overfitting and stabilize the model.<br>
<strong>Outcome:</strong> Achieved a <strong>94.7% AUC score</strong>, and credit scoring strategies helped reduce default rates, improving decision-making accuracy.<br>
<strong>Skills/Tools:</strong> <em>Python, Pandas, XGBoost, Data Engineering</em>.</p>
      <p align="center"><a class="project-link" href="https://github.com/ViswaBonam/American-Express-Credit-Default-Prediction">Check it out</a></p>
  </div>
</div>

<div class="user-projects">

  <div class="images-right">
    <img alt="galaxy" src="{{ "assets/img/Bitcoin.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Bitcoin Return Prediction with Multivariate Asset Integration</h3>
    <p><strong>Objective:</strong> Predict Bitcoin returns by integrating multiple asset features for improved accuracy.<br>
<strong>Role:</strong> Data Scientist<br>
<strong>Approach:</strong> Created a predictive model using XGBoost with SHAP analysis to select the top 20 features, reducing noise and optimizing prediction relevance.<br>
<strong>Outcome:</strong> Achieved a 15% improvement in classification accuracy and a 20% boost in model interpretability and performance.<br>
<strong>Skills/Tools:</strong> <em>Python, SHAP Analysis, Feature Engineering, XGBoost</em>.</p>
      <p align="center"><a class="project-link" href="https://dhaitz.github.io/graph-visualization/#/galaxy/wikipedia?cx=-705&cy=-9206&cz=-9978&lx=0.4772&ly=0.7270&lz=-0.4743&lw=0.1367&ml=450&s=1.75&l=1&v=500_000_links">Check it out</a></p>
  </div>
</div>

</div>
